.brand-bold
	font-weight: 700

.expenses
	max-width: 800px
	width: 100%
	margin: auto
	padding-top: 2rem

.section_wrapper
	padding: 10px

.info
	display: none !important // Ocultar información
	margin: auto
	display: table
	margin-bottom: 3.5rem

	.panel-heading
		font-weight: 700

.t_head
	font-weight: 700

.center
	margin: auto

.label_margin, .button_margin
	margin-top: 1.5rem 

.input_width
	width: 185px

.steps
	margin-bottom: 3.5rem

h4
	font-weight: 700
	margin: 4.5rem 0 2.5rem 0