<!DOCTYPE html>
<html lang="es" ng-app="calc">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <title>My Rate Calc</title>
  <script type="text/javascript" src="angular.min.js"></script>
  <link rel="stylesheet" href="bootstrap.min.css">
  <link rel="stylesheet" href="main.css">
  <script type="text/javascript" src="app.js"></script>
</head>

<body>

  <header>
    <nav class="navbar navbar-default">
      <p class="navbar-brand">My Rate Calc</p>
    </nav>
  </header>

  <section id="start">
    <!-- Above the fold -->
    <div class="welcome">
      <h2>Calcula tus ingresos con esta app...</h2>
      <h3>...olvida el cobrar por hora, cobra según tus gastos.</h3>
      <p><a href="#data1" class="btn btn-warning btn-lg"> <b>Calcular</b> </a></p>
    </div>
  </section>

  <section id="data1">
    <!-- User data, salary and pretentions -->
    <div class="data1">
    <h2 class="text-center">Responde las preguntas:</h2>
    <form class="questions">

      <div class="question">
        <label>¿Cuanto Ganas al Mes?</label>
        <input type="text" placeholder="ej. 3200" class="form-control">
      </div>

      <div class="question">
        <label>¿Cuanto deseas ahorrar al Año?</label>
        <input type="text" placeholder="ej. 25000" class="form-control">
      </div>
      <div class="text-center button">
        <button type="submit" value="Submit" class="btn btn-primary margin-top">Ingresar</button>
        <a href="#expenses" class="btn btn-success margin-top link-button">Siguiente</a>
      </div>
    </form>
    </div>
  </section>

  <section id="expenses">
    <!-- User expenses table -->
    <div class="table-container text-center">
      <table class="table">
        <thead>
          <tr class="t_head active">
            <td>Gastos al:</td>
            <td>Año</td>
            <td>Mes</td>
            <td>Día</td>
          </tr>
        </thead>
        <tr ng-repeat="expense in expenses">
          <td>{{expense.gasto}}</td>
          <td>{{expense.mes * 12 | currency}}</td>
          <td>{{expense.mes | currency}}</td>
          <td>{{expense.mes * 12 / 365 | currency}}</td>
        </tr>
      </table>
    </div>
    <!-- Fin de la tabla -->

    <!-- Formulario con angular -->
    <form class="expenses-input" ng-submit="addRow()">
      <h2 class="text-center">Ingresa un gasto</h2>
      <label>Descripción del gasto:</label>
      <input type="text" placeholder="ej. Gasolina" class="form-control" ng-model="gasto">
      <label class="form_margin">Costo mensual:</label>
      <div class="input-group">
        <span class="input-group-addon">$</span>
        <input type="text" placeholder="ej. 3200" class="form-control" ng-model="mes">
        <span class="input-group-addon">.00</span>
      </div>
      <div class="text-center">
        <button type="submit" value="Submit" class="btn btn-primary form_margin button">Añadir</button>
        <a href="#report1" class="btn btn-success button link-button">Siguiente</a>
      </div>
    </form>
    <!-- Fin del formulario -->

  </section>

  <section id="report1">
    <!-- Results -->
    <div class="project">
      <div class="project-text">
        <h3 class="text-center">
          ¿Quieres saber que costo tiene un proyecto?
        </h3>
        <a href="#data2" class="btn btn-info btn-lg link-button">Calcular</a>
      </div>
    </div>
  </section>

  <section id="data2">
    <!-- Data for calculate rate project -->

  </section>

  <section id="report2">
    <!-- Results of project cost -->
  </section>

  <footer>

  </footer>

</body>
</html>
